.main-header-content { text-shadow: .1em .1em gray; font-weight: bold; }
.post-footer { padding-top: 1em; min-height: 2em; }
.post-footer .share { top: 0em; padding-top: 1em; width: auto; }
.figure-caption { display: block; text-align: center; font-size: .8em; font-style: italic; margin-top: -10px; }}

